body{
    background-color: #f9f9f9;
    font-family: 'Open Sans', sans-serif;
}
a{
    text-decoration: none;
}
main.wrapper{
    background-color: #fff;
    width: 1060px;
    margin: 0 auto;
    -webkit-box-shadow: 0px 0px 13px -3px rgba(0,0,0,0.8);
    -moz-box-shadow: 0px 0px 13px -3px rgba(0,0,0,0.8);
    box-shadow: 0px 0px 13px -3px rgba(0,0,0,0.8);
}
.container{
    padding: 50px 45px 60px;
}
.logo img{
    margin-bottom: 40px;
}
ul.header_menu{
   background: -moz-linear-gradient(top, #444343, #5e5e5e);
   background: -webkit-linear-gradient(top, #444343, #5e5e5e);
   background: linear-gradient(top, #444343, #5e5e5e);
   font-size: 0;
}
ul.header_menu li, ul.footer_menu li{
    display: inline-block;
    padding: 15px 45px 15px 45px;
}
ul.header_menu li:first-child{
    padding-left: 25px;
}
ul.header_menu a{
    font-size: 14px;
    color: #fff;
}
ul.header_menu li:hover{
   background: -moz-linear-gradient(top, #2e2e2e, #4a4a4a);
   background: -webkit-linear-gradient(top, #2e2e2e, #4a4a4a);
   background: linear-gradient(top, #2e2e2e, #4a4a4a);
   border-left: 1px solid #838383;
   border-right: 1px solid #838383;
}
aside{
    width: 240px;
    float: left;
    border: 1px solid #c8c8c8;
    margin-top: 40px;
}
aside.aside_menu li{
    padding: 15px 25px;
    border-bottom: 1px solid #c8c8c8;
}
aside.aside_menu li:hover{
    padding-left: 35px;
    color: #474747;
    background-color: #f9f9f9;
}
aside.aside_menu li:last-child{
    border-bottom: none;
}
.aside_menu a{
    font-size: 14px;
    color: #656363;
}
article{
    width: 678px;
    float: right;
    margin-top: 40px;
}
.product .description{
    padding: 40px 25px 60px 25px;
    font-size: 14px;
    color: #2c2c2c;
    line-height: 22px;
}
footer{
    clear: both;
}
ul.footer_menu{
    font-size: 0;
    background: #e1e1e1;
}
ul.footer_menu li{
    font-size: 14px;
}
ul.footer_menu a{
    color: #2c2c2c;
}
ul.footer_menu li:last-child{
    padding-left: 180px;
}
ul.footer_menu a:hover{
    text-decoration: underline;
}