main{
	background:#0c739f url(../img/background.png) repeat-x;
	padding-top: 38px;
}
.container{
	width: 1000px;
	margin: 0 auto;
	background: #fff;
	font-family: Tahoma sans-serif;
	-webkit-box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.57);
	-moz-box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.57);
	box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.57);
}
.clearfix:after{
	content: '';
	display: table;
}
.logo{
	float: left;
	padding-left: 25px;
	position: relative;
}
.logo img{
	margin-top: 10px;
	margin-bottom: -30px;
}
h1{
	font-size: 12px;
	color: #128aa7;
	position: absolute;
	left: 100px;
	top: 100px;
}
.right_info{
	float: right;
}
.right_info .contacts{
	font-size: 12px;
	color: #128aa7;
	padding-top: 15px;
	padding-left: 200px;
	padding-bottom: 35px; 
}
.right_info .contacts p{
	margin-top: 5px;
}
.list_countries{
	padding-right: 20px;
}
.list_countries li{
	display: inline-block;
	font-size: 0;
	padding-right: 15px;
	padding-bottom: 8px;
}
.list_countries li a{
	font-size: 10px;
	color: #128aa7;
	text-align: center;
}
.main_menu{
	margin-top: -3px;
	position: relative;
	font-size: 0px;
	background-color: background: -moz-linear-gradient(top, #373737, #303030);
   background: -webkit-linear-gradient(top, #373737, #303030);
   background: linear-gradient(top, #373737, #303030);
   -webkit-box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.76);
-moz-box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.76);
box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.76);
}
.main_menu a{
	text-decoration: none;
	color: white;
	font-size: 14px;
}
.main_menu>li{
	display: inline-block;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 65px; 
}
.main_menu>li:first-child{
	padding-left: 65px;
}
.main_menu .drop:after{
	content: url(../img/tringle.png);
	padding-left: 7px;
}
.dropdown{
	position: absolute;
	left:167px;
	top: 33px;
	background-color: #303030 ;
	padding: 10px 45px 10px 10px;
	border-top: 1px solid black;
	-webkit-box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.76);
	-moz-box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.76);
	box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.76);
	display: none;
}
.dropdown li{
	padding-bottom: 10px;
}
ul.main_menu>.drop:hover>.dropdown{
	display: block;
}
.main_contant{
	overflow: hidden;
}
.main_contant .left_column{
	float: left;
	width: 210px;
	background-color: #edeef0;
	padding-bottom: 20000px;
  margin-bottom: -20000px;
}
.main_contant .center_column{
	float: left;
	width: 580px;
	padding-bottom: 20000px;
  margin-bottom: -20000px;
}
.main_contant .right_column{
	float: right;
	width: 210px;
	background-color: #edeef0;
	padding-bottom: 20000px;
  margin-bottom: -20000px;
}
article h2{
	font-size: 18px;
	color: #424c43;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
}
article p{
	font-size: 14px;
	color: #424c43;
	padding-bottom: 10px;
	padding-left: 15px;
}
footer{
	clear: both;
	font-size: 12px;
	color: #fff;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 15px; 
}